:root {
    /* --weight-logo: 13.384rem;
    --height-logo: 13.8rem; */
    --font-size-h1     : 4.2rem;
    --font-size-h2     : 4rem;
    --font-size-h3     : 2.2rem;
    --font-size-banner : 1.8rem;
    --font-size-text   : 1.6rem;
    --font-size-textsnd: 1.4rem;
}