@media(max-width: 991px) {
    :root {
        --font-size-h1     : 4.2rem;
        --font-size-h2     : 4rem;
        --font-size-h3     : 2.2rem;
        --font-size-banner : 1.8rem;
        --font-size-text   : 1.6rem;
        --font-size-textsnd: 1.4rem;
    }

    .container {
        width: 90%;
    }
}

@media(max-width:768px) {
    #menu-icon {
        display: initial;
    }

    .navbar__social .active,
    .navbar__links .active {
        display: flex;
    }

    header .navbar__social,
    header .navbar__links {
        flex-wrap      : wrap;
        justify-content: center;
        position       : absolute;
        top            : 0;
        left           : 0;
        right          : 0;
        padding-left   : 0;
        background     : rgba(255, 255, 255, 0.418);
        z-index        : -1;
        clip-path      : polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .active,
    header .active {
        clip-path : polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition: .2s all ease-in-out;
    }

    header .navbar__links {
        padding-top: 7rem;
        padding-bottom: 2rem;
    }

    header .navbar__links-link:focus {
        border-bottom: 0;
    }

    header .navbar__social {
        top    : 182%;
        padding: 1rem 0;
    }

    header .navbar__links-link {
        margin-left  : 1rem;
        margin-bottom: .7rem;
    }

}

@media(max-width:645px) {
    :root {
        --width-logo: 18.384rem;
        --height-logo: 13.8rem;
        --width-isologo: 18.384rem;
        --height-isologo: 13.8rem;
    }
}